@import '~/assets/scss/utilities/variables';
@import '~/assets/scss/utilities/mixins';

.link {
  text-decoration: none;
  transition: color 0.3s ease;

  &--hover-color {
    &:hover,
    &:hover svg,
    &:hover path {
      color: $primary;
      fill: $primary;
    }
  }

  &--hover-underline {
    position: relative;

    &:hover:after {
      width: 100%;
      left: 0;
    }

    &:after {
      background: none repeat scroll 0 0 transparent;
      bottom: -2rem;
      content: "";
      display: block;
      height: 2px;
      left: 50%;
      position: absolute;
      background: $primary;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0;
    }
  }
}